.about-rectangle {
    width: 100vw;
    margin-top: 65px;
    height: 605px;
    opacity: 0.9;
    background-color: #fafafa;
  }

  .About-title {
    font-family: HelveticaNeue;
    font-size: 17px;
    letter-spacing: 0.88px;
    text-align: center;
    color: var(--black);
  }

  .About-span{
        width: 304px;
        height: 259px;
        font-family: HelveticaNeue;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.08px;
        text-align: center;
        color: black;
  }

.about--logo {
  width: 137px;
  height: 128px;
  object-fit: contain;
}

.Rectangle {
  position: relative;
    width: 150px;
    height: 36.8px;
    border-radius: 6.7px;
    border: solid 0.5px black;
  }

  .get-it-on {
    font-family: HelveticaNeue;
    font-size: 10.5px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: center;
    color: var(--black);
  }
  
  .store-name{
    font-size: 13px;
  }

  .apple-icon {
    width: 17px;
    height: 22px;
    object-fit: contain;
    position: absolute;
    left: 5px;
  }

  .google-icon {
    width: 14px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    left: 5px;
  }
