.Rectangle-Copy-4 {
    width: 375px;
    height: 605px;
    opacity: 0.9;
    background-color: #fafafa;
    margin-top: 10px;
  }

  .About-title {
    width: 83px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.88px;
    text-align: center;
    color: var(--black);
  }

  .About-span{
        width: 304px;
        height: 259px;
        font-family: HelveticaNeue;
        font-size: 14px;
        font-weight: 100;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.08px;
        text-align: center;
        color: black;
  }

.about---logo {
  width: 137px;
  height: 128px;
  object-fit: contain;
}

.Rectangle {
  position: relative;
    width: 135.8px;
    height: 36.8px;
    border-radius: 6.7px;
    border: solid 0.5px black;
  }

  .get-it-on {
    width: 74px;
    height: 25px;
    font-family: HelveticaNeue;
    font-size: 11.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: var(--black);
  }
  
  .Get-it-on-Google-Pla .text-style-1 {
    font-size: 9.2px;
  }

  .apple-icon {
    width: 17px;
    height: 22px;
    object-fit: contain;
    position: absolute;
    left: 5px;
  }

  .google-icon {
    width: 14px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    left: 5px;
  }