.title{
height: 23px;
font-family: HelveticaNeue;
font-size: 20px;
letter-spacing: 1.54px;
text-align: center;
color: black;
}

.restaurants-nav span{
height: 18px;
font-family: HelveticaNeue;
font-size: 16px;
letter-spacing: 1.71px;
color: black;
}