<h2 class='title'>RESTAURANTS</h2>
<div class="restaurants-nav" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign.gt-xs="center center" fxLayoutGap.gt-xs="20px">
    <span [ngStyle]="{'font-weight':selectedCategory===1? 'bold' : 100 }" (click)="changeList(1)">
        All </span>
    <span [ngStyle]="{'font-weight':selectedCategory===2? 'bold' : 100 }" (click)="changeList(2)">
        New </span>
    <span [ngStyle]="{'font-weight':selectedCategory===3? 'bold' : 100 }" (click)="changeList(3)">
        Most Popular </span>
    <span [ngStyle]="{'font-weight':selectedCategory===4? 'bold' : 100 }" (click)="changeList(4)">
        Open Now </span>
</div>

<app-restaurants-list [listToDisplay]="listToDisplay"
></app-restaurants-list>