<div class='header-container' ngClass.gt-xs="desktop">

        <div class="content-container" fxLayout="row" fxLaoutAlign="center center">

                <div class='header-rectangle' fxLayout="column" fxLayoutAlign="center center">
                        <h3 class="Header-title">Epicure works with the top
                                chef restaurants in Tel Aviv</h3>
                        <div class="Search-area" fxLayout="row" fxLayoutAlign="center center">
                                <img class="search-icon" src="../../../assets/icons/shape.svg">
                                <input class="Search-for-restauran" placeholder="Search for restaurant cuisine, chef">
                        </div>
                </div>

                <img src="../../../assets/photos/screen-shot-2019-01-06-at-10-56-44@3x.jpg" class="header-main-image">
        </div>

        <div fxHide.gt-xs class="Rectangle-Copy-2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <div class="chefs-button" fxLayoutAlign="center center">
                        <span class="CHEFS">CHEFS</span>
                </div>
                <div routerLink="/restaurants" class="restaurants-button" fxLayoutAlign="center center">
                        <span class="RESTAURANTS">RESTAURANTS</span>
                </div>
        </div>
</div>