
.header-container{
  position: relative;
  align-items: center;
  width: 100vw;
}

.header-main-image {
    width: 375px;
    height: 269px;
    width: 100vw;
  }

  .header-rectangle {
    width: 335px;
    height: 125px;
    background-color: rgba(255, 255, 255, 0.88);
    position: absolute;
    left: 20px;
    top: 71px;
  }

  .Header-title {
    width: 240px;
    height: 39px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: black;
  }

  .Search-Field {
    width: 240px;
    height: 30px;
    border-radius: 4px;
    border: solid 0.2px black;
    background-color: rgba(255, 255, 255, 0.11);
  }

  .Search-Field::placeholder {
    width: 217px;
    height: 16px;
    opacity: 0.64;
    font-family: HelveticaNeue-Thin;
    font-size: 13px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    text-align: center;
    color: black;
  }

  .Rectangle-Copy-2 {
    width: 100vw;
    height: 125px;
    opacity: 0.9;
    background-color: #fafafa;
  }

  .restaurants-button {
    width: 131px;
    height: 43px;
    background-color: rgba(232, 196, 122, 0.8);
  }

  .chefs-button {
    width: 76px;
    height: 43px;
    background-color: rgba(232, 196, 122, 0.8);
  }
  
  .RESTAURANTS {
    width: 103px;
    height: 15px;
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    color: black;
  }

  .CHEFS {
    width: 48px;
    height: 15px;
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    color: black;
  }
.search-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.Search-for-restauran {
  text-align: left;
  margin-left: 5px;
  width: 217px;
  height: 16px;
  opacity: 0.64;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.93px;
  color: black;
  border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.Search-for-restauran:focus {
    outline-width: 0;
}