.popular-restaurants-title {
    width: 300px;
    height: 22px;
    font-family: HelveticaNeue-Thin;
    font-size: 13px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.93px;
    text-align: center;
    color: black;
    margin-top: 45px;
  }

  .restaurant-element {
    width: 206px;
    height: 338px;
    background-color: rgba(247, 224, 178, 0.7);
  }

  .popular-restaurant-img {
    width: 206px;
    height: 224px;
    object-fit: contain;
  }

  .popular-restaurant-title {
    margin-top: 22px;
    height: 29px;
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.67px;
    color: black;
  }
  
  .popular-restaurant-dish {
    font-family: HelveticaNeue-thin;
    font-size: 20px;
    letter-spacing: 1.33px;
    color: black;
  }