.popular-restaurants-title {
    height: 22px;
    font-family: HelveticaNeue-Thin;
    font-size: 14px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.93px;
    text-align: center;
    color: black;
    margin-top: 65px;
  }

.content-container{
  position: relative;
}

  .all-restaurants{
    font-weight: bold;
    font-family: HelveticaNeue;
    font-size: 20px;
    letter-spacing: 2px;
  }

  app-popular-restaurant-box{
    width: 100vw;
  }

  .desktop-title{
    font-size: 18px;
  }