.restaurant{ 
    background-color: #f9f4ea;
    margin-top: 15px;
   }
   
   .restaurant img {
       height: 124px;
       width: 162px ;   
       margin-bottom: 10px;
   }
   
   .restaurant-name{
     font-family: HelveticaNeue;
     font-size: 17.2px;
     font-weight: bold;
     letter-spacing: 1.15px;
     color: black;
     text-align: center;
     margin-bottom: 8px;
   }
   
   .restaurant-chef{
       font-family: HelveticaNeue;
       font-size: 13.3px;
       font-weight: 100;
       letter-spacing: 0.89px;
       color: black;
       text-align: center;
       margin-bottom: 8px;
   }