.Rectangle-Copy-3 {
    width: 375px;
    height: 134px;
    opacity: 0.9;
    background-color: #fafafa;
  }

  .icons-meaning-title {
    width: 221px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: black;
  }

  .icon-meaning{
    width: 38px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.08px;
    text-align: center;
    color: black;
  }

  .spicy-icon {
    width: 44px;
    height: 34px;
    object-fit: contain;
  }

  .vegiterian-icon {
    width: 33px;
    height: 34px;
    object-fit: contain;
  }

  .vegitarian{
    font-size: 13px;
  }
  

  .Rectangle-Copy-3{
    width: 100vw;
  }

  .icons{
    width: 100%;
  }