<div class="Rectangle-Copy-3" fxLayout="column" fxLayoutAlign="space-around center">
    <span class="icons-meaning-title">THE MEANING OF OUR ICONS :</span>
    <div class="icons" fxLayout="row" fxLayoutAlign="space-evenly center">

        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="spicy-icon" src="../../../assets/icons/group-2.svg">
            <span class="icon-meaning">SPICY</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="vegiterian-icon" src="../../../assets/icons/vegiterian-icon.svg">
            <span class="icon-meaning vegitarian">VEGITARIAN</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="spicy-icon" src="../../../assets/icons/group-2.svg">
            <span class="icon-meaning">VEGAN</span>
        </div>
    </div>
</div>