.chef-of-the-week-title {
  margin-top: 65px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.93px;
    text-align: center;
    color: black;
  }


.chef-image{
    position: relative;
}

  .Rectangle {
    width: 334px;
    height: 239.4px;
    object-fit: contain;
  }

  .chef-name {
    width: 334.9px;
    height: 54.6px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
  }

.chef-name h3{
        width: 171px;
        height: 35px;
        font-family: HelveticaNeue;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.07px;
        text-align: center;
        color: black;
}

.chef-of-the-week-description {
    width: 325px;
    font-family: HelveticaNeue;
    font-size: 13.5px;
    font-weight: 100;
    letter-spacing: 1.04px;
    text-align: center;
    color: rgb(0,0,0,0.7);
  }

  .chef-restaurants-title {
    height: 17px;
    font-family: HelveticaNeue;
    width: bold;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.88px;
    color: rgb(0,0,0,0.7);
  }
  
  swiper{
    width: 100vw;
  }

  .restaurant-element{
    width: 153.6px !important;
    height: 237.4px !important;
    background-color: #f9f4ea;
  }

  .restaurant-img {
    width: 153.6px;
    height: 149px;
    object-fit: contain;
  }

  .restaurant-name{
    width: 52px;
    height: 23px;
    font-weight: bold;
    font-family: HelveticaNeue;
    font-size: 20px;
    letter-spacing: 1.33px;
    text-align: center;
    margin-top: 9px;
    color: black;
  }