<div fxLayout="column" fxLayoutAlign="center cnter" ngClass.gt-xs="desktop">
  <div
    class="category"
    id="breakfast"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="line"></div>
    <span class="category-title"> BREAKFAST</span>
    <div class="line"></div>
  </div>
  <div
    class="category-container"
    fxLayout.gt-xs="row wrap"
    fxLayoutAlign.gt-xs="space-around center"
  >
    <div
      class="dish-container"
      *ngFor="let dish of menu.breakfast"
      (click)="PopupStateChange(dish)"
    >
      <img class="dish-image" [src]="dish.img" />
      <div
        class="description-container"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="14px"
      >
        <span class="signature-dish-name">{{ dish.name }}</span>
        <span class="signature-dish-description">{{ dish.ingradients }} </span>
        <img class="dish-icon" src="../../../assets/icons/group-2.svg" />
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="8px"
        >
          <div class="Line-4"></div>
          <img class="ils" src="../../../assets/icons/ils.svg" />
          <span class="price">{{ dish.price }}</span>
          <div class="Line-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="category"
    id="lunch"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="line"></div>
    <span class="category-title"> LUNCH </span>
    <div class="line"></div>
  </div>
  <div
    class="category-container"
    fxLayout.gt-xs="row wrap"
    fxLayoutAlign.gt-xs="space-around center"
  >
    <div
      class="dish-container"
      *ngFor="let dish of menu.lunch"
      (click)="PopupStateChange(dish)"
    >
      <img class="dish-image" [src]="dish.img" />
      <div
        class="description-container"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="14px"
      >
        <span class="signature-dish-name">{{ dish.name }}</span>
        <span class="signature-dish-description">{{ dish.ingradients }} </span>
        <img class="dish-icon" src="../../../assets/icons/group-2.svg" />
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="8px"
        >
          <div class="Line-4"></div>
          <img class="ils" src="../../../assets/icons/ils.svg" />
          <span class="price">{{ dish.price }}</span>
          <div class="Line-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="category"
    id="dinner"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="line"></div>
    <span class="category-title"> DINNER</span>
    <div class="line"></div>
  </div>
  <div
    class="category-container"
    fxLayout.gt-xs="row wrap"
    fxLayoutAlign.gt-xs="space-around center"
  >
    <div
      class="dish-container"
      *ngFor="let dish of menu.dinner"
      (click)="PopupStateChange(dish)"
    >
      <img class="dish-image" [src]="dish.img" />
      <div
        class="description-container"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="14px"
      >
        <span class="signature-dish-name">{{ dish.name }}</span>
        <span class="signature-dish-description">{{ dish.ingradients }} </span>
        <img class="dish-icon" src="../../../assets/icons/group-2.svg" />
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="8px"
        >
          <div class="Line-4"></div>
          <img class="ils" src="../../../assets/icons/ils.svg" />
          <span class="price">{{ dish.price }}</span>
          <div class="Line-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dish-popup
  [dishDetails]="dishDetails"
  *ngIf="showPopup"
  (hidePopup)="PopupStateChange()"
></app-dish-popup>
