<div *ngIf="menuHide" class="nav-bar" fxLayout='row' fxLayoutAlign="space-between center">
    <img src="../../../assets/icons/group-13.svg" class="burger-icon" (click)="menuStateChange()">
    <img src="../../../assets/photos/group-10@2x.png" class="nav-logo" routerLink="/home">
    <div fxLayoutGap="20px">
        <img src="../../../assets/icons/shape.svg" class="nav-icon">
        <img src="../../../assets/icons/user-icon-copy.svg" class="nav-icon">
        <img src="../../../assets/icons/group-2-copy.svg" class="nav-icon">
    </div>
</div>

<app-menu (menuStateChange)="menuStateChange($event)" *ngIf="!menuHide"></app-menu>