// - - - - - - - - - - veriables decleration - - - - - - - - - -
$icons-dimention: 18px;
$icons-fit: contain;

.nav-bar {
    width: 98vw;
    height: 45px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 10px;
}

.nav-icon {
    width: $icons-dimention;
    height: $icons-dimention;
    object-fit: $icons-fit;
  }

  .burger-icon {
    width: 18px;
    height: 14px;
    object-fit: contain;
  }

  .nav-logo {
    width: 31px;
    height: 30px;
    object-fit: contain;
    position: absolute;
    left: 44%;
  }