
  .restaurant-element {
    width: 206px !important;
    height: 338px !important;
    background-color: rgb(247,224,178,0.4)
  }

  .popular-restaurant-img {
    width: 206px;
    height: 224px;
    object-fit: contain;
    top: 0;
  }

  .popular-restaurant-title {
    margin-top: 22px;
    height: 29px;
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.67px;
    color: black;
  }
  
  .popular-restaurant-chef {
    font-family: HelveticaNeue-thin;
    font-size: 20px;
    letter-spacing: 1.33px;
    color: black;
  }


  .desktop{

    .restaurant-element {
      width: 250px !important;
    }
    .popular-restaurant-img {
      width: 250px !important;
      object-fit: fill;
    }
}