
.restaurant-element {
    width: 256px;
    height: 338px ;
    background-color: rgb(247,224,178,0.4)
  }

  .popular-restaurant-img {
    width: 256px;
    height: 224px;
  }

  .popular-restaurant-title {
    margin-top: 22px;
    height: 29px;
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.67px;
    color: black;
  }
  
  .popular-restaurant-chef {
    font-family: HelveticaNeue-thin;
    font-size: 20px;
    letter-spacing: 1.33px;
    color: black;
  }


  .mobile{
.restaurant-element {
  width: 236px !important;
  height: 360px !important;
  }

  .popular-restaurant-img {
    width: 236px !important;
  }
}