.signature-dish-title {
  margin-top: 65px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.20px;
    text-align: center;
    color: black;
  }

  app-signature-dishes-box{
    width: 100vw;
  }

  .desktop{
    .signature-dish-title{
      font-size: 18px;
    }
  }