.signature-dish-title {
  margin-top: 65px;
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0.20px;
    text-align: center;
    color: black;
  }

  swiper{
    width: 150vw;
  }

  .signature-dish-restaurant-name {
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.94px;
    text-align: center;
    color: var(--black);
  }
  
  .dish-image {
    margin-top: 13px;
    width: 259.2px;
    height: 208.8px;
    object-fit: contain;
  }

  img{
    width: 206px;
    height: 224px;
    object-fit: contain;
  }

  .description-container {
    width: 259.2px;
    height: 262.1px;
    background-color:rgba(247, 224, 178, 0.7);
  }

  .dish-icon {
    margin-bottom: 6px;
    width: 39px;
    height: 30px;
    object-fit: contain;
  }


  .Line-4 {
    width: 60px;
    height: 1px;
    border: solid 0.1px rgb(151, 151, 151,0.5);
  }

  .signature-dish-name {
    width: 144.7px;
    font-family: HelveticaNeue;
    font-size: 27.6px;
    line-height: 1.23;
    letter-spacing: 1.84px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
  }
  
.signature-dish-description {
  width: 215.4px;
  height: 111.5px;
  font-family: HelveticaNeue;
  font-size: 17.3px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1.15px;
  text-align: center;
  color: black;
}

  .price {
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.67px;
    color: black;
    margin-bottom: 4px;
  }

  
.ils {
  font-weight: bold;
  width: 11px;
  height: 9px;
  object-fit: contain;
}