<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" ngClass.gt-xs="desktop">
    <h3 class="signature-dish-title">SIGNATURE DISH OF :</h3>

    <swiper [config]="config" [(index)]="index" fxHide.gt-xs="true">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h3 class="signature-dish-restaurant-name">Tiger Lilly</h3>
            <div class="signature-container">            
                <img class="dish-image" src="../../../assets/photos/rectangle@2x.png">
                <div class="description-container" fxLayout="column" fxLayoutAlign="center center">
                    <span class="signature-dish-name">Pad Ki Mao</span>
                    <span class="signature-dish-description">Shrimps, Glass Noodles, Kemiri Nuts, Shallots,
                        Lemon Grass, Magic
                        Chili Brown Coconut
                    </span>
                    <img class="dish-icon" src="../../../assets/icons/group-2.svg">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                        <div class="Line-4"></div>
                        <img class="ils" src="../../../assets/icons/ils.svg">
                        <span class="price">88</span>
                        <div class="Line-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <h3 class="signature-dish-restaurant-name">Tiger Lilly</h3>
            <div class="signature-container">            
                <img class="dish-image" src="../../../assets/photos/rectangle@2x.png">
                <div class="description-container" fxLayout="column" fxLayoutAlign="center center">
                    <span class="signature-dish-name">Pad Ki Mao</span>
                    <span class="signature-dish-description">Shrimps, Glass Noodles, Kemiri Nuts, Shallots,
                        Lemon Grass, Magic
                        Chili Brown Coconut
                    </span>
                    <img class="dish-icon" src="../../../assets/icons/group-2.svg">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                        <div class="Line-4"></div>
                        <img class="ils" src="../../../assets/icons/ils.svg">
                        <span class="price">88</span>
                        <div class="Line-4"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </swiper>

    <div fxLayout="row" fxLayoutAlign="center center" fxHide.xs="true" fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h3 class="signature-dish-restaurant-name">Tiger Lilly</h3>
            <div class="signature-container">            
                <img class="dish-image" src="../../../assets/photos/rectangle@2x.png">
                <div class="description-container" fxLayout="column" fxLayoutAlign="center center">
                    <span class="signature-dish-name">Pad Ki Mao</span>
                    <span class="signature-dish-description">Shrimps, Glass Noodles, Kemiri Nuts, Shallots,
                        Lemon Grass, Magic
                        Chili Brown Coconut
                    </span>
                    <img class="dish-icon" src="../../../assets/icons/group-2.svg">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                        <div class="Line-4"></div>
                        <img class="ils" src="../../../assets/icons/ils.svg">
                        <span class="price">88</span>
                        <div class="Line-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <h3 class="signature-dish-restaurant-name">Tiger Lilly</h3>
            <div class="signature-container">            
                <img class="dish-image" src="../../../assets/photos/rectangle@2x.png">
                <div class="description-container" fxLayout="column" fxLayoutAlign="center center">
                    <span class="signature-dish-name">Pad Ki Mao</span>
                    <span class="signature-dish-description">Shrimps, Glass Noodles, Kemiri Nuts, Shallots,
                        Lemon Grass, Magic
                        Chili Brown Coconut
                    </span>
                    <img class="dish-icon" src="../../../assets/icons/group-2.svg">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                        <div class="Line-4"></div>
                        <img class="ils" src="../../../assets/icons/ils.svg">
                        <span class="price">88</span>
                        <div class="Line-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>