<div fxLayout="column" fxLayoutAlign="center center">
    <h3 class="signature-dish-title">SIGNATURE DISH OF :</h3>
    <h3 class="signature-dish-restaurant-name">Tiger Lilli</h3>
    <div fxLayout="column" fxLayoutAlign="space-between center" >        <img class="Rectangle" src="../../../assets/photos/rectangle@2x.png">
        <div class="Rectangle-Copy" fxLayout="column" fxLayoutAlign="center center">
            <span class="signature-dish-name">Pad-Ki-Mao</span>
            <span class="signature-dish-description">Shrimps, Glass Noodles, Kemiri Nuts, Shallots,
                Lemon Grass, Magic
                Chili Brown Coconut
            </span>
            <img class="Group-2" src="../../../assets/icons/group-2.svg">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <div class="Line-4"></div>
                <img class="ils" src="../../../assets/icons/ils.svg">
                <span class="price">88</span>
                <div class="Line-4"></div>
            </div>
            </div>
    </div>
</div>