.signature-dish-title {
    width: 153px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    text-align: center;
    color: black;
  }

  .Rectangle {
    width: 259.2px;
    height: 208.8px;
    object-fit: contain;
  }

  .signature-dish-restaurant-name {
    width: 248px;
    height: 19px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.94px;
    text-align: center;
    color: var(--black);
  }

  img{
    width: 206px;
    height: 224px;
    object-fit: contain;
  }

  .Rectangle-Copy {
    width: 259.2px;
    height: 262.1px;
    opacity: 0.7;
    background-color: #f7e0b2;
  }

  .Group-2 {
    width: 39px;
    height: 30px;
    object-fit: contain;
  }


  .Line-4 {
    width: 75px;
    height: 1px;
    border: solid 0.5px #979797;
  }

  .signature-dish-name {
    width: 144.7px;
    height: 102.4px;
    font-family: HelveticaNeue;
    font-size: 27.6px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 1.84px;
    text-align: center;
    color: black;
  }
  
.signature-dish-description {
  width: 215.4px;
  height: 111.5px;
  font-family: HelveticaNeue;
  font-size: 17.3px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.15px;
  text-align: center;
  color: black;
}

  .price {
    width: 32px;
    height: 29px;
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    color: black;
  }

  
.ils {
  font-weight: bold;
  width: 11px;
  height: 9px;
  object-fit: contain;
}